.container {
  font-size: 15px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 30px;
  height: 30px;

  background-color: transparent;
  border: 2px solid var(--accent-color-primary);
}

input[type='checkbox'].light {
  border: 2px solid var(--accent-color-primary-LIGHT);
}

input[type='checkbox']:checked {
  width: 30px;
  height: 30px;

  background-image: url('@/assets/check-mark.svg');
  background-position: center;
  background-size: contain;

  background-color: var(--accent-color-secondary);
  border: 2px solid var(--accent-color-secondary);
}
